@import 'settings';
::selection { background: $selection; }
::-moz-selection { background: $selection; }

a { color: $link; }
a:hover {
  background-color: $highlight;
}
a:visited { color: $link; }

body {
  font-family: $font-stack;
  color: $dark;
}

nav {
  ul {
    margin: 10px;
  }
  li.active {
    font-weight: bold;
  }
}

span.accent {
  color: $link;
}
.calendar {
  .week {
  }
  .day.inactive {
    color: $med;
    .head {
      border-bottom: 1px solid $med;
    }
  }
  .day {
    width: 12%;
    margin: 5px 3px;
    height: 150px;
    padding: 7px;
    background-color: $light-gray;
    .head {
      border-style: solid;
      border-bottom: 1px solid $dark;
    }
    .events {
      p {
        margin: 6px 0px;
        font-size: 12px;
      }
    }
  }
}

.faq-list {
  li {
    margin-bottom: 10px;
  }
}
