@media (max-width: 767px) {
  li, p {
    font-size: 18px;
  }
  nav {
    li {
      font-size: 24px;
    }
  }

  .calendar {
    padding: 10px 0px;
    .week {
      margin-bottom: 20px;
    }
    .day {
      width: 94%;
      .head {
        font-size: 24px;
      }
      .events {
        p {
          font-size: 18px;
        }
      }
    }
    .day.inactive {
      display: none;
    }
  }
}

