@media (max-width: 700px) {
  li, p {
    font-size: 20px;
  }
  nav {
    li {
      font-size: 24px;
    }
  }

  .calendar {
    padding: 10px 0px;
    .week {
      margin-bottom: 20px;
    }
    .day {
      width: 100%;
    }
    .day.inactive {
      display: none;
    }
  }
}

