<nav>
  <div class="row">
    <h1 class="site-header">friend ranch 2015</h1>
    <ul>
      <li <%= "class='active'" if current_page.data["nav_active"] == "faq" %>><a href="/">faq</a></li>
      <li <%= "class='active'" if current_page.data["nav_active"] == "travel" %>><a href="/travel">how do i get there?</a></li>
      <li <%= "class='active'" if current_page.data["nav_active"] == "calendar" %>><a href="/calendar">when can i come?</a></li>
      <li <%= "class='active'" if current_page.data["nav_active"] == "ranch" %>><a href="/ranch">the ranch</a></li>
    </ul>
  </div>
</nav>
