<nav>
  <div class="row">
    <h1>friend ranch 2015</h1>
    <ul>
      <li <%= "class='active'" if current_page.data["nav_active"] == "faq" %>><a href="/">faq</a></li>
      <li><a href="/getting-there">how do i get there?</a></li>
      <li><a href="/calendar">when can i come?</a></li>
    </ul>
  </div>
</nav>
