<nav>
  <div class="row">
    <ul>
      <li><a href="/faq">faq</a></li>
      <li><a href="/getting-there">how do i get there?</a></li>
      <li><a href="/calendar">when can i come?</a></li>
    </ul>
  </div>
</nav>
