---
title: friend ranch faq
nav_active: "faq"
---

<div class="row">
  <ul class="column9 faq-list">
    <li>
      <p><b>what is the friend ranch?</b></p>
      <p><span class="accent">circle the wagons, we're going to the ranch.</span> this year's friend ranch will be the first in a hopefully long line of summer gatherings of friends. come explore some mountain life, eat, drink, be merry.</p>
    </li>
    <li>
      <p><b>where is this happening?</b></p>
      <p>
        we've rented a sweet AirBnB in Victor, Idaho, 30 minutes outside of Jackson, Wyoming.
        if you haven't been to Jackson, it's one of the great mountain towns of the Rocky Mountain West.
        pretty much any outdoors activity you could imagine is available, and the scenery is spectacular.
      </p>
    </li>
    <li>
      <p><b>when are we ranching?</b></p>
      <p>
        for 2015 the friend ranch will be open for loitering <span class="accent"><b>july 28 - august 9</b></span>. RSVP for a spot and get yo tix.
      </p>
    </li>
    <li>
      <p><b>do i have to come for the whole 12 nights?</b></p>
      <p>
        nae dear friend. come for as long or short as you like. just let us know (and pay some $) so we can get you on the calendar.
      </p>
    </li>
    <li>
      <p><b>how much does it cost?</b></p>
      <p>
        you thought this was a free ride didn't you?
        if we can bankroll that one day, we will, but in the meantime we need to engage in some judicious cost-sharing.
        we're hoping to collect <span class="accent"><b>$35/person/night</b></span> from visitors. this will let us break even with an occupancy of ~8-9 people.
        any money raised beyond that will go toward food and beer.
      </p>
    </li>
    <li>
      <p><b>how do i get there?</b></p>
      <p>
        flying into the Jackson airport (JAC) is the easiest way.
        it's a small airport and a bit expensive but it is pretty accessible.
        we can arrange pickup from the airport.
        another option if you're up for some driving is to fly into Salt Lake City (SLC) and drive about 4 hours to Victor.
        this flight can be significantly cheaper from some places, and having another car at the ranch would not hurt, either.
      </p>
    </li>
    <li>
      <p><b>what is there to do?</b></p>
      <p>
      hike trails, catch trouts, ride bikes, read books, swim lakes, craft artès, climb rocks, quaff ales, burn blunts, tell tales, etc., etc.
      </p>
      <p>
        pretty much any outdoorsy thing you can think of is available, plus whatever hanging out and activities we can get into around the house.
      </p>
      <p>
        the cabin has cable tv and internet, although we make no promises about the reliability of either.
      </p>
      <p>
        we're 40 minutes from Grand Teton National Park, 2 hours from Yellowstone, and minutes from tons of spectacular trails, rivers, etc.
      </p>
    </li>
    <li>
      <p><b>i'm hongry</b></p>
      <p>we'll aim to serve dinner at the house each evening -- you'll probably be asked to do a dinner shift during your stay</p>
      <p>i'd love to see a few Bacchanalia along the way as well -- maybe a pig roast or something</p>
      <p>breakfast and lunch will probably be on your own, although maybe we'll get ambitious</p>
    </li>
    <li>
      <p><b>is this an actual ranch?</b></p>
      <p>the ranch is in your heart</p>
    </li>
  </ul>
</div>