---
nav_active: "ranch"
title: "the digs"
---

<div class="row">
  <div class="column6">
    <h3>the house</h3>
    <img src="https://a1.muscache.com/ic/pictures/64450293/b46b38e8_original.jpg?interpolation=lanczos-none&size=xx_large&output-format=jpg&output-quality=70" />
  </div>
</div>

<div class="row">
  <div class="column6">
    <p>you can check out the house on airbnb <a href="https://www.airbnb.com/rooms/5152690">here</a></p>
    <p>it's a 3bd, 2bath cabin with 5 beds and in theory sleeps 7. we're hoping to supplement with air mattresses and maybe a few tents to get that number up a bit.</p>
  </div>
</div>
