---
nav_active: "ranch"
title: "the digs"
---

<div class="row">
  <div class="column6">
    <h2>the house</h2>
    <p>you can check out the house on airbnb <a href="https://www.airbnb.com/rooms/5152690">here</a></p>
    <img src="https://a1.muscache.com/ic/pictures/64450293/b46b38e8_original.jpg?interpolation=lanczos-none&size=xx_large&output-format=jpg&output-quality=70" />
  </div>
</div>

<div class="row">
  <div class="column6">
    <h2>activities</h2>
    <ul>
      <li>
        <h4>fishing</h4>
        <%= image_tag "angler.gif" %>
        <p></p>
      </li>
      <li>
        <h4>hiking</h4>
        <%= image_tag "hiker.gif" %>
        <p></p>
      </li>
      <li>
        <h4>biking</h4>
        <%= image_tag "mtbiker.gif" %>
        <p></p>
      </li>
      <li>
        <h4>¡¡craft projects¡¡</h4>
        <%= image_tag "friendship.jpg" %>
        <p></p>
      </li>
      <li>
        <h4>eating</h4>
        <img src="/images/eating.gif" />
        <p></p>
      </li>
    </ul>
  </div>
</div>
